
<!-- The title in the route for this partial currently says:
     "Your choice.  I think it might make more sense to move this to the view .
     
     Need to make title partial actually go between the title
     "

-->

${data.map(entry => 
   ` <H1>${entry.name} </H1>`
).join('')}

<form action="/" method="POST">
   <input type= "hidden" name= "restaurant_id" value=${data[0].id}>
   <label> Title
      <input type="text" name="review_title" placeholder="Review Title"/>
   </label>
   <label> My Review
     <textarea name="review_text" placeholder="=restaurant...">
      </textarea>
   </label>

   <button type="submit">Save Review</button>
</form>
<table>
<tr>

<th>Reviewer Name</th>
<th>Title</th>
<th>Number Stars</th>
<th>Review</th>
</tr>

${testData.map(entry => 
   ` <tr> <td>${entry.name}</td> <td>${entry.title}</td> <td>${entry.stars}</td> <td>${entry.review}</td> </tr>`
).join('')}
</table>

<a href="/">Return to Restaurant List </a>
